@property --backgrounds--3d-grid--animation--shimmer-start {
    syntax: "<percentage>";
    inherits: false;
    initial-value: -5%;
}

@property --backgrounds--3d-grid--animation--shimmer-visible {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

@property --backgrounds--3d-grid--animation--shimmer-end {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 5%;
}

@keyframes backgrounds--3d-grid--animation {
    0% {
        --backgrounds--3d-grid--animation--shimmer-start: -5%;
        --backgrounds--3d-grid--animation--shimmer-visible: 0%;
        --backgrounds--3d-grid--animation--shimmer-end: 5%;

        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    80% {
        --backgrounds--3d-grid--animation--shimmer-start: 55%;
        --backgrounds--3d-grid--animation--shimmer-visible: 60%;
        --backgrounds--3d-grid--animation--shimmer-end: 65%;
    }

    100% {
        --backgrounds--3d-grid--animation--shimmer-start: 65%;
        --backgrounds--3d-grid--animation--shimmer-visible: 65%;
        --backgrounds--3d-grid--animation--shimmer-end: 60%;

        opacity: 0;
    }
}

.backgrounds--3d-grid--root {
    position: relative;

    perspective: 600px;

    overflow: hidden;
}

.backgrounds--3d-grid--scene {
    position: absolute;

    inset-block-start: 50%;
    inset-inline-start: 50%;

    aspect-ratio: 1/1;
    inline-size: max(100vw, var(--chakra-sizes-8xl));

    background-image:
        linear-gradient(
            to right,
            var(--chakra-colors-cyan-fg) 4px,
            transparent 4px
        ),
        linear-gradient(
            to bottom,
            var(--chakra-colors-cyan-fg) 4px,
            transparent 4px
        );
    background-size: 64px 64px;
    background-position: center bottom;

    mask-image: radial-gradient(
        ellipse at 50% 50%,
        transparent var(--backgrounds--3d-grid--animation--shimmer-start),
        white var(--backgrounds--3d-grid--animation--shimmer-visible),
        transparent var(--backgrounds--3d-grid--animation--shimmer-end)
    );

    translate: -50% -75%;
    transform: rotate3D(1, 0, 0, 80deg);
    transform-origin: bottom center 64px;

    animation: backgrounds--3d-grid--animation 1.5s infinite
        /* **SOURCE:** https://easings.net/#easeOutCirc */
        cubic-bezier(0, 0.55, 0.45, 1);
}

@media only screen and (max-width: 768px) {
    .backgrounds--3d-grid--scene {
        background-size: 48px 48px;
        transform-origin: bottom center 48px;
    }
}

@media only screen and (max-width: 480px) {
    .backgrounds--3d-grid--scene {
        background-size: 32px 32px;
        transform-origin: bottom center 32px;
    }
}
