.markdown-editor {
    font-family: inherit;
}

.markdown-editor *[class*="_codeMirrorWrapper_"] {
    border: thin var(--chakra-colors-border) solid;
}
.markdown-editor,
.markdown-editor * {
    border-radius: 0;
}

.markdown-editor--content-editable > :first-child,
.markdown-editor--content-editable > :first-child > table {
    margin-block-start: 0 !important;
}

.markdown-editor--content-editable > :last-child,
.markdown-editor--content-editable > :last-child > table {
    margin-block-end: 0 !important;
}

.markdown-editor.mdxeditor-popup-container {
    position: absolute;

    inset-block-start: 0;
}

.markdown-editor .markdown-editor--toolbar {
    background-color: var(--chakra-colors-bg-muted);
    color: var(--chakra-colors-fg);
}

.markdown-editor :is(*[class*="_code_"], .cm-content) {
    font-family: var(--chakra-fonts-mono);
}
